.form-fields { text-align: left;
  .input-group {
    margin-bottom: 8px;

    label { margin-bottom: 4px; display: block; }
    input, textarea { padding: 5px 30px 5px 8px; width: 100%; border: 1px solid $color-gray80; box-sizing: border-box; }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: right 5px center;

      &:valid {
        background-image: url('/images/form-valid.png');
      }

      &:invalid:not(:placeholder-shown) {
        background-image: url('/images/form-invalid.png');
      }
    }

    textarea {background-position: right 5px top 5px; }
  }

  .form-feedback { margin-left: 15px; display: inline-block; opacity: 0; transition: all 500 ease-in;
    &.-success { opacity: 1; color: green; }
    &.-fail { opacity: 1;  color: red; }
  }
}
