//@include font-face('Font-Awesome', '/fonts/fontawesome-webfont', 300, normal);

body { font-size: 14px; line-height: 1.2; color: $color-base; font-family: $font-family; }

a { color: $color-link; }
img { @include img-responsive; }

/* Structural */
.container { margin: 0 auto; padding: 4% 20px; max-width: $max-width; @include clearfix; box-sizing: border-box; }
#main { }


/* Global Variations */
.-hide { display: none; }
.-center { text-align: center; }
.-shadow { box-shadow: 0px 0px 25px 0px rgba($color-black,0.75); position: relative; z-index: 2; }


/* honeypot*/
#surname { display: none; }
