// Typography variables
$font-family: "Open Sans", Arial, sans-serif;
$font-size: 13px;
$line-height: 18px;

$color-base: #444444;
$color-primary: #ff9900;
$color-detail: #bdbdbd;
$color-link: #428bca;

$color-white: #ffffff;
$color-black: #000000;

/* 100% Shades of Grey */
$color-gray10: #efefef;
$color-gray20: #d6d6d4;
$color-gray40: #bdbdbd;
$color-gray50: #afafaf;
$color-gray60: #8c8d8e;
$color-gray80: #616265;
$color-gray90: #323232;
$color-gray95: #222222;

//Social Colors
$color-twitter: #5eb5e3;
$color-linkedIn: #3158a9;
$color-facebook: #0975a3;
$color-spiceworks: #fc5900;

//Media Queries
$max-width: 1280px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 580px;
$screen-xxs-min: 400px;

$screen-md-max: $screen-lg-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-xs-max: $screen-sm-min - 1;
